build
.vscode/settings.json
__pycache__
log.txt
.vs
out
dist
*.egg-info
*.so
*pyd
src/**/pybind11
src/cmake_oidn/oidn
src/cmake_oidn/weights/
src/setup_oidn/oidn

assets/ignore/
imgui.ini
results/
