build
.vscode/settings.json
.vscode/launch.json

__pycache__
log.txt
.vs
out
dist
*.egg-info
*.so
*pyd
src/**/pybind11
src/cmake_oidn/oidn
src/cmake_oidn/weights/
src/setup_oidn/oidn

assets/ignore/
# assets/shaders/**/generated

imgui.ini
results/

